################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Nasturel_Iustin_ActivitatePOO2024/FileContentIndex/7e89a45a-d076-424d-bc94-c778beba4da2.vsidx
